@media screen and (max-width: 1600px) {
  .hero__data-page {
    margin-left: 250px;
  }
}
@media screen and (max-width: 1545px) {
  .ratings__img img {
    width: 36px;
    height: 36px;
  }

  .ratings__img img + img {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1418px) {
  .footer__cards-pay .footer__cards-pay-img {
    max-width: 171px;
  }

  .hero__data-page {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1394px) {
  .ratings__img img {
    width: 32px;
    height: 32px;
  }

  .ratings__img img + img {
    margin-left: 8px;
  }
}

@media screen and (max-width: 1320px) {
  .banner__info {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
  }
}

@media screen and (max-width: 1314px) {
  .bonuses__desc {
    width: 80%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1313px) {
  .rating__wrapper {
    padding-left: 0;
  }

  .table tr td:nth-child(2) img {
    width: 20px;
  }
}

@media screen and (max-width: 1299px) {
  .footer__content-desc {
    flex-direction: column;
  }
}
@media screen and (max-width: 1292px) {
  .features {
    flex-direction: column;
  }

  .content__wrapp {
    margin-bottom: 20px;
  }
  .features__wrapp {
    margin-left: 0;
    border-radius: 16px;
    width: 50%;
  }

  .features-banner__background {
    width: 100%;
    max-height: 571px;
  }
}

@media screen and (max-width: 1288px) {
  .features__table td:nth-child(1) {
    width: 45%;
  }
  .features__table td:nth-child(2) {
    width: 55%;
    padding-left: 5px;
  }
  .ratings__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1252px) {
  .features-banner__data {
    padding: 20px;
  }

  .features-banner__title {
    font-size: 28px;
  }
  .features-banner__title span {
    font-size: 16px;
  }
  /* .hero__data {
    background: rgba(0, 0, 0, 0.5);
  } */
  .hero {
    padding-left: 20px;
  }

  .hero__page {
    padding-left: 0;
  }
}

@media screen and (max-width: 1241px) {
  .ratings__img img {
    width: 30px;
    height: 30px;
  }

  .ratings__img img + img {
    margin-left: 4px;
  }

  .bonuses__img img {
    height: 260px;
  }
}

@media screen and (max-width: 1233px) {
  .table tr td:nth-child(2) img {
    width: 18px;
  }
  .ratings__wrap {
    gap: 0;
  }

  .banner__app {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1228px) {
  .about__group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1212px) {
  .ratings__content {
    flex-direction: column;
    gap: 8px;
  }

  .ratings__img img {
    width: 36px;
    height: 36px;
  }

  .ratings__img img + img {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1183px) {
  .ratings__wrap {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    min-height: 328px;
    min-height: max-content;
  }
  .bonuses__img,
  .bonuses__img img {
    width: 100%;
    height: 250px;
  }

  .title.bonuses__title {
    font-size: 28px;
    line-height: 32px;
  }

  .table tr td:nth-child(2) img {
    width: 24px;
  }
  .features-banner__title span {
    font-size: 22px;
  }

  .content__wrapp,
  .about__content {
    flex-direction: column;
  }
  .features-banner__title {
    font-size: 32px;
  }

  .hero__title {
    font-size: 55px;
  }

  .hero__data {
    background: rgba(0, 0, 0, 0.4);
  }
  .features__wrapp {
    width: 100%;
    height: 368px;
  }

  .features-banner__data {
    padding: 40px;
  }

  .features__list,
  table {
    width: 100%;
  }
  .features .content__wrapp-last {
    flex-direction: column;
  }

  .banner {
    width: 100%;
  }
}

@media screen and (max-width: 1161px) {
  .banner__logo {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
  }

  .banner__info-ratings a {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

  .bonuses__desc {
    width: 90%;
  }
}

@media screen and (max-width: 1060px) {
  table {
    flex-direction: column;
    gap: 4px;
  }
  .about__group,
  .features__info {
    width: 100%;
  }
  .about__group + .about__group {
    margin-left: 0;
  }

  .features__list .banner__features {
    height: 300px;
  }

  .banner__info p,
  .banner .banner__title-main {
    text-align: center;
  }
}

@media screen and (max-width: 1053px) {
  /* -------------------------- */
  .header__menu {
    display: none;
  }
  .header__btn-menu {
    display: block;
    background: #09224d;

    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-left: 16px;
  }
  .header__btn-menu.active {
    background: #09224d;
  }

  .header__btn-menu svg {
    display: block;
    margin: 0;
  }
  .header__btn-menu svg rect {
    transform-origin: 50% 50%;
    transition: all 0.5s;
  }

  .header__btn-menu.active svg rect:nth-child(1) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(225deg);
  }

  .header__btn-menu.active svg rect:nth-child(3) {
    opacity: 0;
  }

  .header__btn-menu.active svg rect:nth-child(2) {
    x: -2px;
    y: 6px;
    width: 20px;
    transform: rotate(135deg);
  }

  .header__menu {
    display: none;
    position: fixed;
    top: 67px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #09224d;

    text-align: center;
    opacity: 0;
    padding: 20px 50px;
    transition: height 0.5s ease, opacity 0.5s ease;
    z-index: 100;
    overflow-y: auto;
    display: block;
  }

  .header__menu.active {
    display: block;
    height: 100vh;
    opacity: 1;
  }
  .header {
    z-index: 101;
  }
  .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: none;
    margin-bottom: 16px;
  }
  .header__menu ul li {
    font-size: 14px;
    white-space: nowrap;
  }

  .header__menu-list li + li {
    margin-left: 0;
  }

  .header__menu ul li + li {
    margin-top: 10px;
  }
  .menu ul {
    gap: 5px;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }

  .menu ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header__btn {
    display: inline-block;
  }

  .header__btn a.header__btn-login,
  .header__btn a.header__btn-signin {
    display: block;
    min-width: 220px;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__btn a.header__btn-signin {
    margin-top: 16px;
  }

  /* ----------------------- */

  .header__flag-menu {
    right: 80px;
  }

  .features__info {
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (max-width: 1017px) {
  .sidebar {
    display: none;
  }
  .page-nav {
    display: block;
  }
  .main {
    display: block;
  }
  .content__wrapper {
    margin-left: 0;
  }

  .header__logo {
    margin-right: auto;
  }

  .features-banner__data {
    max-width: 1000px;
    height: 400px;
  }
}

@media screen and (max-width: 836px) {
  table td:last-child,
  table td:first-child {
    width: 50%;
  }
}

@media screen and (max-width: 763px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 16px;
  }

  .footer__logo {
    margin-right: 0;
    margin-left: 0;
  }

  .footer__logo-wrap {
    flex: 0;
    justify-content: center;
  }
  .footer__button {
    margin: 0;
  }

  .footer__wrapp div {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 750px) {
  .footer__cards-last {
    gap: 20px;
  }

  .ratings__content {
    flex-direction: column;
  }

  .about__group {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner .banner__background img {
    object-position: 80%;
  }

  .hero__background-page img {
    object-position: 90%;
  }
}
@media screen and (max-width: 681px) {
  .footer__menu li {
    flex: 1 0 calc((100% - 2px) / 3);
  }
  .ratings__list li {
    width: 100%;
  }
  .footer__text {
    flex-direction: column;
  }
  .header__button-login {
    display: none;
  }

  .footer__img {
    flex: 0;
  }
}

@media screen and (max-width: 649px) {
  .hero {
    padding: 10px;
    align-items: center;
  }

  .hero__page {
    padding: 0;
  }

  .ratings__content {
    flex-direction: column;
  }
  .ratings__button {
    margin-left: auto;
  }
  .ratings__list {
    margin-top: 0;
  }
}

@media screen and (max-width: 618px) {
  .button__wrap-app,
  .banner__button-wrap {
    flex-direction: column;
    align-items: center;
  }

  .banner__app {
    justify-content: center;
  }

  .ratings__img img {
    width: 30px;
    height: 30px;
  }

  .ratings__img img + img {
    margin-left: 8px;
  }
}

@media screen and (max-width: 595px) {
  .features-banner__data {
    max-width: 500px;
    height: 300px;
  }
  .banner .banner__title-main {
    font-size: 45px;
    line-height: 50px;
  }
}

@media screen and (max-width: 577px) {
  .table tr td:nth-child(3) {
    display: none;
  }

  .table tr td:nth-child(2) img {
    width: 20px;
    height: 20px;
  }

  .footer__cards li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
  }

  .features-banner__data {
    max-width: 450px;
    height: 300px;
  }
  .ratings__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner__info {
    border-radius: 6px;
    width: 100%;
    min-width: 0;
  }

  .banner__info-ratings a {
    display: block;
    background: none;
  }
}

@media screen and (max-width: 536px) {
  .features-banner__title {
    font-size: 28px;
    line-height: 40px;
  }

  .features-banner__title span {
    font-size: 18px;
  }
  .features__table td:nth-child(1) {
    width: 45%;
  }
  .features__table td:nth-child(2) {
    width: 55%;
  }
  .hero__data {
    padding: 16px;
    align-items: center;
  }
  .hero__text,
  .hero__title {
    text-align: center;
  }
  .hero__button {
    margin-left: auto;
  }

  .banner .banner__background img {
    object-position: 80%;
  }

  .ratings__list li {
    width: 100%;
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap p {
    text-align: center;
  }

  .ratings__data {
    margin-left: 0;
  }
  .ratings__info p {
    margin-right: 0;
  }

  .header__button-signin {
    display: none;
  }
}

@media screen and (max-width: 518px) {
  .ratings__img img {
    height: auto;
  }
  .features-banner__data {
    padding: 10px;
  }

  .about__group {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .bonuses__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero__data {
    width: 100%;
  }

  .hero__data-page {
    width: 80%;
  }

  .hero__page {
    justify-content: center;
  }
}

@media screen and (max-width: 490px) {
  .ratings__img img {
    width: 28px;
    height: 28px;
  }

  .ratings__img img + img {
    margin-left: 4px;
  }
}
@media screen and (max-width: 478px) {
  .features-banner__title {
    font-size: 22px;
    line-height: 32px;
  }

  .features-banner__title span {
    font-size: 14px;
  }

  .features__button {
    width: 220px;
  }

  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap img {
    margin-bottom: 16px;
  }

  .footer__wrap p {
    text-align: center;
  }

  .footer__cards li {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

@media screen and (max-width: 463px) {
  .ratings__data {
    margin-left: 0;
  }

  .footer__desc {
    flex-direction: column;
    align-items: center;
  }

  .ratings__info p {
    margin-right: 0;
  }

  .features__table td:nth-child(1) {
    font-weight: 400;
    font-size: 13px;
    width: 50%;
  }
  .features__table td:nth-child(2) {
    width: 50%;
    font-size: 12px;
  }

  .banner .banner__title-main {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 457px) {
  .table tr td:nth-child(2) img {
    width: 18px;
    height: 18px;
  }

  .faq__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 455px) {
  .table tr td:nth-child(2) img {
    width: 16px;
    height: 16px;
  }
  .bonuses__img img {
    object-fit: cover;
    object-position: 100%;
  }

  .banner__info,
  .banner .banner__title-main {
    align-items: center;
  }
  .banner__button {
    margin-left: auto;
  }

  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__button {
    width: 220px;
  }

  .hero__text {
    margin-bottom: 16px;
  }

  .banner__title-main > *:last-child {
    font-size: 40px;
    line-height: 50px;
  }
  .banner__info {
    padding: 16px;
  }
  .footer__menu li:not(:last-child) a::after {
    display: none;
  }

  .banner .banner__title-main {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 444px) {
  .footer__menu li {
    flex: 1 0 calc((100% - 2px) / 2);
  }

  .background img {
    object-position: 90%;
  }

  .hero__background-page img {
    object-position: 85%;
  }

  .footer__info li {
    display: flex;
    justify-content: center;
  }

  .footer__info li::before {
    display: none;
  }

  .footer__logo-wrap {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__menu li div,
  .footer__wrapp div {
    text-align: center;
  }
  .footer__btn {
    align-items: center;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__logo-wrap p {
    text-align: center;
  }

  .ratings__img img {
    width: 24px;
    height: 24px;
  }

  .ratings__img img + img {
    margin-left: 0;
  }

  .about__group tr {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  table td:last-child,
  table td:first-child {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .table tr td:nth-child(2) img {
    display: none;
  }

  .table tr td:nth-child(3) {
    display: block;
  }

  .features__table td:nth-child(1) {
    font-size: 12px;
  }
  .features__table td:nth-child(2) {
    font-size: 11px;
    padding-left: 5px;
  }
  .features__table td {
    white-space: normal;
  }
  .ratings__list {
    grid-template-columns: repeat(1, 1fr);
  }

  h2,
  .title.high {
    text-align: center;
  }

  .banner .banner__background img {
    object-position: 90%;
  }
}

@media screen and (max-width: 391px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__data {
    padding: 10px;
  }
  .features-banner__data {
    max-width: 450px;
  }
  .banner {
    padding: 20px;
  }
}

@media screen and (max-width: 376px) {
  .features-banner__title {
    font-size: 18px;
    line-height: 24px;
  }
  .bonuses__desc {
    width: 87%;
  }

  .features-banner__title span {
    font-size: 12px;
  }

  .features__button {
    width: 200px;
  }
  .features-banner__data {
    height: 200px;
  }

  .features__wrapp {
    height: 250px;
  }
}

@media screen and (max-width: 365px) {
  .hero__title {
    line-height: 34px;
  }
  .hero__text {
    line-height: 20px;
  }
  .hero__rating {
    margin-bottom: 10px;
  }
  .header__logo {
    flex: 0 0 90px;
    margin-left: 0;
  }
}

@media screen and (max-width: 353px) {
  .hero__data {
    padding: 10px;
  }

  .hero__title {
    font-size: 28px;
  }

  .hero__data-page {
    max-width: 290px;
  }

  .banner__title-main > *:last-child {
    font-size: 36px;
    line-height: 40px;
  }

  .footer__wrapper-content {
    flex-direction: column;
  }

  .ratings__img img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 353px) {
  .hero__data-page {
    max-width: 280px;
  }
}
/* ------------page bonus------------- */

@media screen and (max-width: 1339px) {
  .bonuses__item {
    width: 100%;
  }
}

@media screen and (max-width: 1293px) {
  .banner__background img {
    object-position: 5%;
  }
}

@media screen and (max-width: 1129px) {
  .bonuses__list {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .bonuses__item,
  .bonuses__desc {
    flex-direction: column;
  } */

  .bonuses__desc {
    text-align: center;
    padding: 20px;
  }

  .title.bonuses__title {
    align-items: center;
  }

  .bonuses__img,
  .bonuses__img img {
    width: 100%;
  }
}

@media screen and (max-width: 1113px) {
  .banner__data-bonus,
  .banner .banner__title {
    align-items: center;
  }

  .banner__data-bonus p {
    text-align: center;
  }
}

@media screen and (max-width: 1081px) {
  .banner__data-bonus {
    width: 780px;
    padding: 10px;
  }
}

@media screen and (max-width: 1081px) {
  .banner__data-bonus {
    width: 750px;
  }
}

@media screen and (max-width: 756px) {
  .banner__wrapper .banner__bonus {
    flex-direction: column;
  }
  .banner__data-bonus {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  .banner__wrapper .banner__bonus {
    justify-content: center;
  }
}

@media screen and (max-width: 754px) {
  .banner__logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 750px) {
  .hero__title-page strong {
    font-size: 48px;
    line-height: 57.6px;
  }

  .title.bonuses__title {
    align-items: center;
  }

  .bonuses__desc {
    text-align: center;
  }

  .hero__title {
    font-size: 45px;
  }

  .bonuses__img,
  .bonuses__img img {
    width: 100%;
    height: 100%;
  }

  .bonuses__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .title.bonuses__title {
    font-size: 32px;
    line-height: 40px;
  }

  .bonuses__item {
    height: 336px;
  }
}

@media screen and (max-width: 716px) {
  .banner__bonus {
    padding: 20px;
  }
}
@media screen and (max-width: 691px) {
  .banner__wrapper {
    flex-direction: column;
  }
  .banner__bonus {
    width: 100%;
  }
}
@media screen and (max-width: 598px) {
  .bonuses__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 593px) {
  .bonuses__item {
    width: 100%;
  }

  .hero__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 536px) {
  .breadcrumbs {
    justify-content: center;
  }
}

@media screen and (max-width: 493px) {
  .bonuses__img img {
    min-height: 240px;
  }

  .hero__title {
    font-size: 34px;
  }

  .hero__title strong {
    font-size: 28px;
  }
}

@media screen and (max-width: 455px) {
  .hero__data-bonus {
    padding: 10px;
  }
  .banner__bonus {
    justify-content: center;
    align-items: stretch;
  }

  .banner__wrapper .banner__bonus {
    height: auto;
  }

  .bonuses__buttons {
    flex-direction: column;
  }

  .banner__data .banner__title {
    font-size: 22px;
    line-height: 24px;
  }

  .banner__button {
    margin-top: 16px;
  }

  .hero__title {
    font-size: 32px;
    line-height: 30px;
  }

  .hero__title-page strong,
  .hero__title strong {
    font-size: 38px;
    line-height: 40px;
  }

  .hero__title {
    font-size: 30px;
    font-weight: 700;
  }

  .hero__title strong {
    font-size: 26px;
  }
}

@media screen and (max-width: 391px) {
  .button-page {
    width: 200px;
  }
}

@media screen and (max-width: 378px) {
  .banner__bonus {
    padding: 10px;
    align-items: center;
  }
}

@media screen and (max-width: 357px) {
  .banner__bonus {
    height: 260px;
  }
  .banner__data-bonus {
    padding: 10px;
  }

  .title.bonuses__title {
    font-size: 24px;
  }

  .hero__title {
    font-size: 26px;
    font-weight: 700;
  }

  .hero__title strong {
    font-size: 24px;
  }
}

/* ----------------page app ---------- */
@media screen and (max-width: 1336px) {
  .banner__app {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 754px) {
  .banner__content-app {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .banner__logo {
    flex: none;
    margin-left: 0;
    margin-bottom: 12px;
  }
  .banner__background-app img {
    object-position: 70%;
  }
}

@media screen and (max-width: 450px) {
  .banner__app {
    justify-content: center;
  }
}

@media screen and (max-width: 423px) {
  .banner__app {
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .banner__content-app {
    padding: 30px;
  }
}
@media screen and (max-width: 390px) {
  .banner__content-app {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 349px) {
  .banner__content-app {
    padding: 20px;
  }
}
